<body style="font-size:80%;">

	{{> nav }}
	
	<div class="container" style="padding-top:3em;">
		<div class="row">
      {{#each games }}
        {{!-- {{#iff quantity '==' 0 }} --}}
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card h-100">
            <a href="#" class="text-center" style="padding-top:20px;"><img src="img/{{ id }}.jpg" style="width:70%;"></a>
            <div class="card-body">
              <h6 class="card-title">
                <a href="#">{{ description }}</a>
              </h6>
              <p class="card-text">${{ price }}</p>
							<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addProductModal" style="width:100%;">Add to Cart</button>
            </div>
          </div>
        </div>
        {{!-- {{/if}} --}}
      {{/each}}
      </div>
	</div>

</body>